body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #0f172a;
    color: #00eaff;
}

.container {
    max-width: 1000px;
    background: #0f172a;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #00eaff;
    backdrop-filter: blur(10px);
}

input, button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 12px;
    width: 97%;
    border: 1px solid #00eaff;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
    background: rgba(0, 234, 255, 0.1);
    color: #00eaff;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #00eaff;
}

button {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px rgba(0, 234, 255, 1);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: rgba(30, 41, 59, 0.9);
    border: 1px solid #00eaff;
}

th, td {
    border: 1px solid #00eaff;
    padding: 12px;
    text-align: left;
    color: #00eaff;
}

th {
    background: rgba(0, 234, 255, 0.2);
}

td {
    background: rgba(30, 41, 59, 0.7);
}

th:hover, td:hover {
    background: rgba(0, 234, 255, 0.3);
    transition: 0.3s;
}

button, input {
    animation: glow 1.5s infinite alternate;
}